<%= form_with(model: box) do |form| %>
  <%= render "layouts/error_messages", resource: box %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group" data-controller="item-form">
    <p class="d-inline">Items</p>
    <div class="d-inline" data-item-form-target="link">
      <%= link_to "New item", "", data: {action: "item-form#add_association"}, class: "btn btn-sm btn-outline-success" %>
    </div>
    <table class="table table-borderless">
      <template data-item-form-target="template">
        <%= form.fields_for :items, Item.new, child_index: "NEW_RECORD" do |builder| %>
          <%= render "item_fields", f: builder %>
        <% end %>
      </template>
      <tbody class="items" data-item-form-target="form">
        <%= form.fields_for :items do |builder| %>
          <%= render "item_fields", f: builder %>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
