<h3 class="text-center mb-3"><%= @box.name %></h3>
<div class="row justify-content-center">
  <% @box.items.each do |item| %>
    <div class="col-7 col-sm-6 col-md-4 mb-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= item.description %></h5>
          <%= image_tag url_for(item.image), class: "mb-3 w-100 item-img" %>
          <div class="d-flex">
            <% if item.using_by_id.nil? %>
              <%= link_to 'Move', box_item_move_path(@box, item),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-sm'}  %>
            <% else %>
              <%= link_to "Return", "#", class: "btn btn-primary btn-sm mr-2" %>
            <% end %>
            <%= link_to "Delete", box_item_path(@box, item), class: "btn btn-danger btn-sm ml-1", data: {confirm: "Are you sure?"}, method: :delete %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= link_to 'Add item', new_box_item_path(@box),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary'}  %>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content"></div>
  </div>
</div>