<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <div class="container">
    <a class="navbar-brand" href="#">MiBodega</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if current_tenant %>
          <li class="nav-item">
            <%= link_to "Members", members_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Boxes", boxes_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <ul class="navbar-nav my-2 my-lg-2">
        <% if current_user %>
          <li class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= "#{current_user.username}" "#{" - #{current_tenant.name} (#{current_tenant.plan})" if current_tenant}" %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Change account", accounts_path, class: "dropdown-item" %>
              <%= link_to "Billing information", billing_path, class: "dropdown-item" if current_user.is_admin?(current_tenant&.id) && !current_tenant.payment_method.nil? %>
              <%= link_to "Logout", destroy_user_session_path, class: "dropdown-item", method: :delete %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>