<h1 class="text-center mb-3">Members</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <%= "<th></th>".html_safe if current_user.account&.id == current_tenant.id %>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <% if member.user.active_for_authentication? %>
        <tr>
          <td><%= member.user.email %><%= '<span class="badge badge-secondary ml-1">Admin</span>'.html_safe if member.user.is_admin?(current_tenant.id) %></td>
          <% if current_user.is_admin?(current_tenant.id) %>
            <td><%= link_to 'Delete from this account', member, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" if current_user != member.user %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= link_to "Add a member", new_member_path, class: "btn btn-primary" if current_user.is_admin?(current_tenant.id) %>